table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
}

th {
 background-color: #c5b3aa ;
 border: 1px solid #dddddd;
 text-align: center;
 padding: 15px;
}