.ahmedabadzone{
    .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
        padding: 18px 18px;
        padding-right: 40px;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        position: relative;
        padding: 12px 16px;
        padding-left: 40px;
        color: rgba(0, 0, 0, 0.85);
        line-height: 22px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;}
}